body {
    background-color: lightblue;
  }

  body {
    margin: 189px;
    border-color: aquamarine;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}
header { background-color: transparent; }

header {
    background-color: rgb(153,102,153);
  }

header {
    background-color: #777799;
  }

footer {
    background-color: #e29607;
  }

footer.footer {
    height: 300px;
    width: 100%;
    background-color: #eb0a0a;
}

p.copyright {
    color: rgb(0, 0, 0);
    line-height: 40px;
    font-size: 0.7em;
}
